*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: orange;

}

h2{
 	color: black;

 }

<<<<<<< HEAD
a:link,
a:visited{
	color: red;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color:black;
}

=======
>>>>>>> b2177e5983106a90030db5eaeb79a5e5ca651a47
container{
	display: flex;
}

.top{
	background-color: blue;
	display: flex;
	height: 100px;
}

.mid{
	background-color: red;
	display: flex;
<<<<<<< HEAD
	justify-content: space-between;

=======
>>>>>>> b2177e5983106a90030db5eaeb79a5e5ca651a47
	height: 800px;
}

.bot{
 background-color: yellow;
 display: flex;
 height: 200px;
}

.example{
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.intro{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 90px;
	margin: 5px;
	margin-bottom: 5px;
}

.sidebar{
	display: flex;
	justify-content: center;
<<<<<<< HEAD
	margin: 15px;
	width: 2000px;
	height: 40px;
}

.menu{
	margin-top: 15px;

}

.menu>li{
	display: inline;
	margin-right: 20px;

}

.menu>li:last-of-type{
	margin-right: 0;
}

.dropdown:hover .features-menu{
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 5px;
	padding-top: 10px;

	position: absolute;
	top: 10px;
	left: -20px;
	z-index: 1;
}

.features-menu{
	display: none;
}

.features-menu li{
	list-style: none;
	border-bottom: 1px solid black;

	padding: 10px;
	margin: 10px;
}

.features-menu li:last-of-type{
	border-bottom: none;
}
.dropdown{
	position: relative;
}

.dropdown >span{
	z-index: 2;
	position: relative;
	cursor: pointer;
}
=======
	margin: 5px;
	width: 115px;
}

>>>>>>> b2177e5983106a90030db5eaeb79a5e5ca651a47
